---
import BaseLayout from '../layouts/BaseLayout.astro'
import { MemorySimulator } from '../components/simulator/MemorySimulator'
---

<BaseLayout title="Engram">
  <div class="h-screen w-screen overflow-hidden bg-[#000000] m-0 p-0">
    <MemorySimulator client:only="react" />
  </div>
</BaseLayout>

